body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  line-height: 0!important;
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.nav-wrapper {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-wrapper .deconnexion {
  margin-left: auto;

}

.nav-wrapper button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-right: 20px;
  outline: none;
  border-radius: 20px;
}

.nav-wrapper .nav-link {
  padding: 0 20px;
}

.nav-wrapper p {
  font-size: 20px;
  padding: 0 60px;
}

.addPost {
  margin-top: 120px;
}

.addPost h1 {
  text-align: center;
}